<div class="aafa container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h2>Edit your OAuth Client App</h2>
      <ul>
        <% @client_app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

      <%= form_for @client_app, :url => api_admin_path(@client_app), :method => :put do |f| %>
        <div class="form-group margin-bottom-10">
          <%= f.label :name %>
          <%= f.text_field :name, :placeholder => 'App Name', :class => 'form-control' %>
        </div>

        <div class="form-group margin-bottom-10">
          <%= f.label :link %>
          <%= f.text_field :link, :placeholder => 'Link to download this application', :class => 'form-control' %>
        </div>

        <div class="form-group margin-bottom-10">
          <%= f.label :mini_icon_link %>
          <%= f.text_field :mini_icon_link, :placeholder => 'Mini icon link', :class => 'form-control col-xs-4' %>
        </div>

        <div class="form-group margin-bottom-10">
          <%= f.label :small_icon_link %>
          <%= f.text_field :small_icon_link, :placeholder => 'Small icon link', :class => 'form-control col-xs-4' %>
        </div>

        <div class="form-group margin-bottom-10">
          <%= f.label :icon_link %>
          <%= f.text_field :icon_link, :placeholder => 'Icon link', :class => 'form-control col-xs-4' %>
        </div>

        <%= f.submit 'Update your Client', :id => 'submitApp', :class => 'btn btn-default' %>
      <%- end -%>
      <%= link_to "back", api_admin_index_path %>
    </div>
  </div>
</div>
