<div class="aafa container">
  <div class="row">
    <div class="col-lg-12">
      <p>Copy these credentials down for use in your application</p>
      <table>
        <tr><td>Name:      </td><td><%= @client_app.name       %></td></tr>
        <tr><td>Link:   </td><td> <%= @client_app.link       %></td></tr>
        <tr><td>Mini icon:   </td><td> <%= @client_app.mini_icon_link  %></td></tr>
        <tr><td>Small icon:   </td><td> <%= @client_app.small_icon_link  %></td></tr>
        <tr><td>Icon:   </td><td> <%= @client_app.icon_link  %></td></tr>
        <tr><td>Client id: </td><td><%= @client_app.app_id     %></td></tr>
        <tr><td>Secret:    </td><td><%= @client_app.app_secret %></td></tr>
      </table>
      <%= link_to "edit", edit_api_admin_path(@client_app) %>
      <%= link_to "back", api_admin_index_path %>
      <hr />
      <p>
        Read the
        <%= link_to 'Documentation', api_doc_path(:quick_start) %> or
        <%= link_to 'Register Another OAuth Client App', new_api_admin_path %>
      </p>
    </div>
  </div>
</div>
