<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="jumbotron">
        <h1>Abra Auth for API</h1>
        <p>This site is providing OAuth 2 through Aafa</p>
        <p><%= link_to 'Register OAuth Client App', new_api_admin_path, :class => 'btn btn-primary btn-md' %>
          <%= link_to 'API Resources documentation', api_docs_path, :class => 'btn btn-primary btn-md' %>
        </p>
      </div>


      <div class="page-header">
        <h1>Quick Start Guide <small>OAuth 2 Flow</small></h1>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Step 1: Register your application</h3>
        </div>
        <div class="panel-body">
          <p>Sign in as a registered user then visit <%= link_to 'the new client application page', new_api_admin_path %>. Enter in the name of your application. For this example, we will use foo; you can change this later if you desire. Hit enter and you should see a screen that has your application name along with a client id and a secret. These behave like a username and password for your OAuth application.</p>
          <pre><code>Name:       foo
Client id:  3234myClientId5678
Secret:     14321myClientSecret8765
</code></pre>
          <p>Once you’ve registered an app successfully we can start to build an OAuth application. Don’t continue until you’ve registered a client app.</p>
          <p><strong>Note:</strong> Replace the email and password with a real user’s credentials.</p>

          <p>Once you have the email/username and password of a user, you can exchange this information for a token by sending the server your client_id &amp; client_secret along with the username and password. Don’t forget to url encode any special characters like <code>@</code>, and always transmit this sensitive data using a secure protocol (such as https):</p>

          <pre><code>https://localhost:3000/oauth/token?client_id=3234myClientId5678&amp;client_secret=14321myClientSecret8765&amp;email=foo%40example.com&amp;password=p4ssw0rd
</code></pre>
          
          <pre><code>$ curl -X POST -d '' 'https://localhost:3000/oauth/token?client_id=3234myClientId5678&amp;client_secret=14321myClientSecret8765&amp;email=foo%40example.com&amp;password=p4ssw0rd'
</code></pre>

          <p>The response should be JSON with an access_token:</p>

          <pre><code>{"access_token":"9693accessTokena7ca570bbaf","refresh_token":"3a3c129ad02b573de78e65af06c293f1","expires_in":null}
</code></pre>

          <p>You can now use the <code>access_token</code> in the parameters or the header of future requests.

          <h2 id="additional-exchange">Additional Exchange</h2>

          <p>In addition to username/password, the owner of this web service may choose to implement other custom exchanges such as Facebook or Twitter token exchange for an access token. You must contact the owner of this web service to see if they support other data when exchanging tokens.</p>

          <p>When you do this make sure to pass <code>grant_type=password</code> or <code>grant_type=bearer</code> in the request to <code>http://localhost:3000/oauth/token</code> in addition to any required parameters.</p>


          <%= link_to 'Register OAuth Client App', new_api_admin_path %>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Step 2: Use the access token</h3>
        </div>
        <div class="panel-body">
          <p>Now that we’ve gone through all the hard work of getting an access token, you can use it to make authenticated requests to the server. If you include the correct <code>access_token</code> parameter in your query, you’ll be logged in as that user for that request.</p>
          
          <pre><code>$ curl "http://localhost:3000/oauth_tests/show_me_the_money.json?access_token=9693accessTokena7ca570bbaf"
</code></pre>
          <p>You should see a successful result (again, don’t forget to replace the example access token with yours). Note that all urls will support OAuth authentication.</p>
          
          <p>You can also use a header to pass the OAuth token:</p>
          <pre><code>$ curl -H "Authorization: token 9693accessTokena7ca570bbaf" "http://localhost:3000/oauth_tests/show_me_the_money.json"
</code></pre>
          <h2 id="security">Security</h2>
          <p>Don’t share your client application’s secret or any user’s access_token with unknown or untrusted parties. Always use https when available and don’t write any of these values to your application’s logs.</p>
        </div>
      </div>

      <!-- col-lg-12 -->
    </div>
  </div>
</div>